/README.aux
/README.aux.bbl
/README.aux.blg
/README.bcf
/README.blg
/README.bbl
/README.bbl-SAVE-ERROR
/README.dvi
/README.fdb_latexmk
/README.fls
/README.log
/README.synctex(busy)
/README.synctex.gz
/output.owl.svg